#g-article .bm-cnt{font-size:12px;line-height:2.5em;color:#666;}
#g-article .param{margin-bottom:20px;}
#g-article .fb{font-weight:bold;}

#g-menu .bm-title{display:none;}
#g-menu.bm-b{padding:0 0 20px;}
#g-menu .bm-cnt{margin:0;}